<request-pending ng-model="loading" message="message"></request-pending>
<div class="input">
    <div class="col-md-12 margin-tb">
		<div class="alert alert-success" role="alert" ng-if="success">{{successMessage}}</div>
		<div class="alert alert-danger" role="alert" ng-if="error">{{errorMessage}}</div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Project</h3>
            </div>
            <div class="panel-body form-group">
                <div class="form-group">
                    <label class="LabelColorBlack">Title</label>
                    <input type="text" class="form-control textColorBlack" placeholder="Title" aria-describedby="basic-addon2" name="title" ng-model='projectDetails.title' id="projectTitle">
                    <span class="help-block ng-hide">Please enter project title</span>
                </div>
                <div class="login-input-group">
					<div class="form-group">
					  <label for="comment">Description</label>
					  <textarea class="form-control" rows="5" placeholder="Description" id="description" ng-model='projectDetails.description' id="projectDesciption"></textarea>
					  <span class="help-block ng-hide">Please enter project description</span>
					</div>     
                </div>
				
			  <div class="login-input-group">
				<label class="LabelColorBlack">Start date</label>
	          <div class="form-group">
	              <div class='input-group date' id='datetimepicker1'>
	                  <input type='text' class="form-control" placeholder="Start Date" ng-model='projectDetails.start_date' id="startdate" />
	                  <span class="input-group-addon">
	                      <span class="glyphicon glyphicon-calendar">
	                      </span>
	                  </span>
	              </div>
				  	<span class="help-block ng-hide">Please enter start date</span>
	          </div>
			
			 </div>
			 
			  <div class="login-input-group">

				<label class="LabelColorBlack">End date</label>	
		          <div class="form-group">
		              <div class='input-group date' id='datetimepicker2'>
		                  <input type='text' class="form-control" placeholder="End Date" ng-model='projectDetails.end_date' id="enddate" />
		                  <span class="input-group-addon">
		                      <span class="glyphicon glyphicon-calendar">
		                      </span>
		                  </span>
		              </div>
					  <span class="help-block ng-hide">Please enter end date</span>
		          </div>
				
			  </div>
			  
			  <div class="container">
			     
			  </div>
			  
			  <div class="login-input-group">
			  <div class="form-group">
			    <label for="billable">Billable</label>
			    <select class="form-control" id="billable">
				  <option value="">---Please select---</option>
			      <option id="biltrue" selected="selected">True</option>
			      <option id="bilfalse" >False</option>
			    </select>
				<span class="help-block ng-hide">Please select option</span>
			  </div>
		  </div>
		  			  
			 <div class="login-input-group">
			  <div class="form-group">
			    <label for="active">Active</label>
			    <select class="form-control" id="active">
				  <option value="">---Please select---</option>
			      <option id="activeTrue" >True</option>
			      <option id="activeFalse" selected="selected">False</option>
			    </select>
				<span class="help-block ng-hide">Please select option</span>
			  </div>
		  </div>
				<br>
                <button ng-click="update(projectDetails)" class="btn btn-primary margin-t" type="button">Update</button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	    $(function () {
			// use this to validate past date			
		    // var date = new Date();
 // 		 var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
 // 		 minDate: today
		    $('#datetimepicker1').datetimepicker({
		            format: 'YYYY-MM-DD'
	        });	
		    $('#datetimepicker2').datetimepicker({
		            format: 'YYYY-MM-DD'
	        });	     
	   });
</script>
