<div class="input">
    <form class="form-horizontal styledContainer">
        <div class="conter-wrapper ">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Project List
                    </h3>
                        </div>
                        <div class="search_container">
                <input type="text" class="search" placeholder="search" ng-model="query" />
                <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
            </div>
                        <div class="panel-body">
                            <table class="table table-hover" st-safe-src="rowCollection" st-table="projects">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>title</th>
                                        <th>description</th>
                                        <th>start_date</th>
                                        <th>end_date</th>
                                        <th>is_billable</th>
										<th>is_active</th>
										<th>view_tasks</th>
										<th>edit</th>
										<th>delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(id, project) in projects | filter: search" style="text-align: left;">
                                        <td>{{project.pk}}</td>
                                        <td>{{project.title | capitalize: true}}</td>
                                        <td>{{project.description | capitalize: true}}</td>
                                        <td>{{project.start_date | date : 'dd/MMMM/yyyy'}}</td>
                                        <td>{{project.end_date | date : 'dd/MMMM/yyyy'}}</td>
                                        <td class="text-left">
                                            <div class="status success" ng-if="project.is_billable == 'true'"></div>
                                            <div class="status failed" ng-if="project.is_billable == 'false'"></div>
                                        </td>
                                        <td class="text-left">
                                            <div class="status success" ng-if="project.is_active == 'true'"></div>
                                            <div class="status failed" ng-if="project.is_active == 'false'"></div>
                                        </td>
										<td><li><a ng-click="view()">view</a></li></td>
										<td><li><a ng-click="edit()">edit</a></li></td>
										<td><li><a ng-click="delete()">delete</a></li></td>
                                    </tr>
	
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7" class="textCenter">
                                            <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
							<button ng-click="addProject()" class="btn btn-primary margin-t" type="button">Add Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>