<request-pending ng-model="loading" message="message"></request-pending>
<div class="input">
    <form class="form-horizontal styledContainer">
        <div class="conter-wrapper ">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Project List
                    </h3>
                        </div>
                        <div class="search_container">
                <input type="text" class="search" placeholder="search" ng-model="query" />
                <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
            </div>
                        <div class="panel-body">
                            <table class="table table-hover" st-safe-src="rowCollection" st-table="projects">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Billable</th>
										<th>Active</th>
										<th>View Tasks</th>
										<th>Edit</th>
										<th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(id, project) in projects | filter: search" style="text-align: left;">
                                        <td>{{project.pk}}</td>
                                        <td>{{project.title }}</td>
                                        <td>{{project.description}}</td>
                                        <td>{{project.start_date | date : 'dd-MM-yy'}}</td>
                                        <td>{{project.end_date | date : 'dd-MM-yy'}}</td>
                                        <td class="text-left">
                                            <div class="status success" ng-if="project.is_billable"></div>
                                            <div class="status failed" ng-if="!project.is_billable"></div>
                                        </td>
                                        <td class="text-left">
                                            <div class="status success" ng-if="project.is_active"></div>
                                            <div class="status failed" ng-if="!project.is_active"></div>
                                        </td>
										<td><i class="material-icons" ng-click="view(project.pk)">view_agenda</i></td>
										<td><i class="material-icons" ng-click="edit(project)">mode_edit</i></td>
										<td><i class="material-icons" ng-click="delete(project.pk)">delete_forever</i></td>
                                    </tr>
	
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="10" class="textCenter">
                                            <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
							<button ng-click="addProject()" class="btn btn-primary margin-t" type="button">Add Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>